<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board</title>

  <link rel="stylesheet" href="/css/board.css">
</head>

<body>
  <div class="container">
    <a href="">
      <h1>Board</h1>
    </a>
    <nav>
      <h3>게시글 수: <%= postCounts %></h3>
      <a href="/board/write">글 작성</a>
    </nav>

    <ul>
      <% if (postCounts > 0) { %>
      <% for(let i = 0; i < postCounts; i++) { %>
      <li>
        <h2><%= POST[i].title %></h2>
        <p><%= POST[i].content %></p>
        <a href="/board/edit/<%= POST[i].id %>">수정</a>
        <a href="#" onclick="deletePost('<%= POST[i].id %>');">삭제</a>
      </li>
      <% } %>
      <% } else { %>
      <li>
        글이 없습니다!
      </li>
      <% } %>
    </ul>
  </div>
</body>

<script>
  function deletePost(id) {
    fetch(`/board/${id}`, {
      method: 'delete',
      headers: {
        'Content-type': 'application/json'
      },
    }).then((res) => {
      location.reload();
    })
  }
</script>

</html>